body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('FLOURORANGE-B.jpg');
    background-size: cover;
    background-position: center;  /* Centers the background image */
    background-attachment: fixed; 
    font-family: 'Arial', sans-serif;
}

#closeButton {
    position: absolute;  /* Position relative to the body */
    top: 20px;  
    right: 20px;  
    background-color: rgba(62, 168, 184, 0.7);  
    color: #ffffff;  /* Dark color for the text */
    border: none;
    font-size: 24px;  /* Size of the X */
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;  /* Pointer cursor on hover */
    font-weight: bold;
    transition: background-color 0.3s ease;  /* Smooth background color transition */
}

#closeButton:hover {
    background-color: rgba(242, 228, 168, 0.7);  /* Red when hovered */
    color: white;  /* White text when hovered */}

#book {
    width: 300px;
    height: 400px;
    perspective: 1500px; /* Increase perspective for a more dramatic flip */
    position: relative;
}

#printButton {
    position: absolute;  /* Position relative to the body */
    top: 20px;  
    left: 20px;  
    background-color: rgba(62, 168, 184, 0.7);  
    color: #ffffff;  /* Dark color for the text */
    border: none;
    font-size: 34px;  /* Size of the X */
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;  /* Pointer cursor on hover */
    font-weight: bold;
    transition: background-color 0.3s ease;  /* Smooth background color transition */
}

#printButton:hover {
    background-color: rgba(242, 228, 168, 0.7);  /* Red when hovered */
    color: white;  /* White text when hovered */}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform 1s cubic-bezier(0.55, 0.085, 0.68, 0.53); /* Smoother transition */
    opacity: 0;
    z-index: 1; /* Ensure pages are stacked correctly */
}

.page-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff; /* Text color */
    font-weight: bold;
    backface-visibility: hidden;
}

.page.flipped {
    transform: rotateY(180deg); /* Flip along Y-axis */
}

.page.show {
    opacity: 1;
    z-index: 2; /* Bring the current page to the front */
}

.page.previous {
    transform: rotateY(180deg); /* Previous page is flipped */
}

.page.next {
    transform: rotateY(0deg); /* Next page is shown in normal orientation */
}
